@charset "UTF-8";
/*
body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
*/
.loading{
	background-image: url("/resources/book/img/bookpoploading.gif");
	background-repeat:no-repeat;
	background-position:center; 
	background-size:cover;
	z-index: 999;
	position:fixed; 
	width:100%;
	height:100%;
}
.contentloading{
	margin: 0;
	padding: 0;
	background-image: url("/resources/book/img/loader.gif");
	background-repeat:no-repeat;
	background-position:center; 
	height: 200px;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:20px; margin:0 0 8px 0;}
.panel h3{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel h4{ color:#444444; font-size:16px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; /*margin-bottom:30px; line-height:24px;*/}
.panel h3 span{ clolr:#984949; }

.books .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  /*background: #c0c0c0 none repeat scroll 0 0;*/
  
  background-color: rgba( 255, 255, 255, 0.7 );
  border-radius: 2px;
  margin: 15px auto;
  /*max-width: 50%;*/
  /*width: 65%;*/
  padding: 10px 20px 20px 10px;
}
.main-book {
  /*background: #c0c0c0 none repeat scroll 0 0;*/
 /*background-color: #ffffff;*/
  background-color: rgba( 255, 255, 255, 0.8 );
  border-radius: 2px;
  margin: 15px auto 15px;
  /*max-width: 50%;*/
  width: 100%;
  padding: 10px 20px 20px 10px;
}

.books .form-group {
  margin-bottom:10px;
}
.books{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.books .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  opacity: 0.5;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.books .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

/* 흰 글씨 */
.color-white{
	color: #ffffff;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type:none;
	margin: 0;
	paddin: 0;
}
.book-ul{
	
}
.book-li{
	
}
/* 책 이미지 */
.book_img_div{
	width: 130px; height: 200px;	
	position: relative;
}
.book_img_div > div:nth-of-type(1){	/* 이미지 위에 삼각형 */
	/*background-color: rgba(230,210,50,0.8);*/
	position: absolute;
	display: inline-block;
	width: 0; height: 0;
	border-top: 20px solid rgba(249, 91, 0,0.8); border-left: 20px solid rgba(249, 91, 0,0.8);
	border-bottom: 20px solid transparent; border-right: 20px solid transparent;
	z-index: 998;
}
.book_img_div > div:nth-of-type(2){	/* 삼각형 위에 순위 */
	position: absolute;
	z-index: 999;
	padding-top: 0;
	padding-left: 5px;
	
}
.book_img_div > div:nth-of-type(2) > span{	/* 삼각형 위에 순위 */
	color: white;
}
.book_img_div > img{
	width: 100%; height: 100%;
}

/* 가격/ 할인가 */
.price{
	text-decoration:line-through;
}
.discount{
	color: #f94b26;
}

/* 검색창 */
.search_form, .searcher{
	width: 100%;
}

/* 검색결과 건수 */
#total{
	background-color: rgba(30, 30, 30, 0.3);
	font-family: 'Kirang Haerang', cursive;
	font-size: 2.0em;
	color: #ffffff;
	padding: 0 10%;
	border: none;
	width: 90%;
}

/* 상세페이지 */
.title{
	color:#0080ff; font-size:20px; margin:0 0 8px 0;
	padding: 0 0 0 0;
	border: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	width:90%;
}
.title:hover {
	color:#0000ff;
}

/* 북마크, 평점, 위시리스트 */
.fa-star-half-alt, .fa-star{
	color: orange; 
	font-size: 20px;
} 
.fa-bookmark, .fa-heart{
	font-size: 20px;
}
.fa-heart{
	color: #ff4444;
}
.list_bookmark{
	right: -5px; 
	top: -10px; 
	position: absolute; 
	z-index: 999;
}
.info_bookmark{
	right: -20px; 
	top: -10px; 
	position: absolute; 
	z-index: 999;
}
.bookmarkBtn{
	background: transparent; 
	border:0;
	padding:0;
	margin:0;
}

.img{
	width: 100%;
	height: 100%;
}


/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: rgba(30,30,30,0.5); color: white; }
.autocomplete-suggestions strong { font-weight: bold; color: blue; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


