@charset "UTF-8";

.loginBtn{
	position: absolute;
	top: 100px;
	margin-right: 10px;
	z-index: 999;
	right: 0px;
}

/* 구글 */
/*
.g-signin{
	background-color: #e25541;
	background-image: url("http://192.168.0.61:8080/resources/main/img/logo/logo_google.png");
	background-size: cover;
	width: 50px;
	height: 50px;
}
.g-signin > div{
	opacity: 0;
}
*/
/* 페북 */
/*
.fb-login{
	background-color: #0080ff;
	background-image: url("http://192.168.0.61:8080/resources/main/img/logo/logo_facebook.png");
	background-size: cover;
	width: 50px;
	height: 50px;
}
.fb-login > span{
	opacity: 0;
}
*/
/* 네이버 */
/*
#naver_id_{
	background-color: #00ff40;
	background-image: url("http://192.168.0.61:8080/resources/main/img/logo/logo_naver.png");
	background-size: cover;
	width: 50px;
	height: 50px;
}
#naver_id_ > a{
	opacity: 0;
}
*/
/* 카카오 */
/*
#kakao-login-{	
	background-color: #f9f448;
	background-image: url("http://192.168.0.61:8080/resources/main/img/logo/logo_daum.png");
	background-size: cover;
	width: 50px;
	height: 50px;
}
*/


