@charset "UTF-8";
/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */

body {
	padding-top: 56px;
	background-size: 100%;
	/*-webkit-filter: brightness(1.0);*/
	/*background-size: cover;*/   
	background-position: center center;
	
}

@media (min-width: 992px) {
	body {
	  padding-top: 56px;
	}
}

.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 0;
}
.carousel-caption {
	background: radial-gradient(ellipse at center, rgba(30,30,30,0.7), rgba(30,30,30,0.5), transparent, transparent);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(30,30,30,0.7), rgba(30,30,30,0.5), transparent, transparent);
	background: -o-radial-gradient(center, ellipse cover,  rgba(30,30,30,0.7), rgba(30,30,30,0.5), transparent, transparent);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(30,30,30,0.7), rgba(30,30,30,0.5), transparent, transparent);
	background-position: center;
	margin-bottom: 0;
}

.portfolio-item {
	/*margin-bottom: 30px;*/
}
input::-webkit-input-placeholder { color: #c0c0c0; } 
input::-ms-input-placeholder { color: #c0c0c0; } 
input::-moz-placeholder { color: #c0c0c0; opacity: 1; } 
input.searcher{
	background-color: transparent;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 2.0em;
	color: #000000;
	padding: 0 0 0 0;
	border: none;
	width: 100%;

}
input.searcher:focus{
	outline: none;
}
hr.searcherLine{
	margin-top: 0;
	border-top:2px solid #808080;
	border-left:none;
	border-right:none;
	border-bottom:none;
	width:100%;
}


/* 1 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/* *
* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
    cursor: default;
}
.display-none{
	display: none;
}
#background{
	/*
	background: url('../img/backgroundbook.jpg') no-repeat;
	-webkit-filter: brightness(1.0);
	width: 100% auto;
	height: 100%;
	background-size:     cover;
	*/
	/*background-position: 70% 50%;*/
	/*-webkit-background-clip: text;*/
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
}
.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
	opacity: 0.5;
}

/* 네이버 지도 */
#map{
	width:100%;
	height:500px;	
}

/* 시게 */
#clock{
	padding: 0 0;
	margin: 0 0;
	position: absolute;
	/*border:1px solid #dedede;*/ 
	width: 115px; 
	/*height:25px;*/
	right: 0;
	color: #c0c0c0;
	font-size: 18px; 
	text-align: center;
	display: inline-block;
}
.inline-block{
	display: inline-block;
}
#right_section{
	position:absolute;
	top:100px;
	right:0;
	z-index: 999;
	margin-right: 100px;
}
.footer{
	width: 100%;
	right: 0;
	left: 0;
	position: fixed;
}
.row{
	position: relative;
}

/*
.nav-up{
	top: -40px;
}
*/

/*
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}
*/

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
